html
    head
        title Main Page
        style
            include style.css
    body
        div.main
            h1.title1 User Management
            div.new
                a(href='/createUser') Create User
            div.new
                a(href='/userListing') List Users